<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
</head>
<body>

<div class="tasks-container">
  <img src="/Assets/To-Do-List-Logo-removebg-preview.png" alt="To-Do List Logo">
  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <strong><%= task.title %></strong> (<%= task.category.name %>)
        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <a href="/tasks/<%= task._id %>/edit">Edit</a>
      </li>
    <% }) %>
  </ul>
</div>
<a href="/tasks/new" class="add-new-task">Add New Task</a>

<div class="image-gallery">
  <img src="public/assets/image1.jpg" alt="Description of image 1" style="width: 100%; height: auto;">
</div>

</body>
</html>
